	nav#navbar.navbar.navbar-default.navbar-fixed-top.nav-params
		.container
			span.navbar-left-pos
				h3.logo
					a href="#first-slide"
						=image_tag('logo-white.png', class: "white")
						=image_tag('logo-color.png', class: "color")
			ul class="nav navbar-nav"
		        <li><a href="#catalog">Каталог</a></li>
		        <li><a href="#start">Возможности</a></li>
		        <li><a href="#dp">Доставка и оплата</a></li>
		        <li><a href="#ftr">Контакты</a></li>
		    a.buy-btn-small.navbar-right-pos data-toggle="modal" data-target=".recall"
		    	|Перезвоните мне