nav#navbar.navbar.navbar-default.navbar-fixed-top.nav-params
	.container
		span.navbar-left-pos
			h3.logo
				|Marker3D.ru
		ul class="nav navbar-nav"
	        <li><a href="#kit-block">Каталог</a></li>
	        <li><a href="#start">Подробнее о ручке</a></li>
	        <li><a href="#dp">Доставка и оплата</a></li>
	        <li><a href="#ftr">Контакты</a></li>
	    a.buy-btn-small.navbar-right-pos href="#kit-block"
	    	|Заказать