nav#navbar.navbar.navbar-default.navbar-fixed-top.nav-params
	.container
		span.navbar-left-pos
			h3
				|Marker3D.ru
		ul class="nav navbar-nav" role="tablist"
	        <li><a href="#">Каталог</a></li>
	        <li><a href="#">Подробнее о ручке</a></li>
	        <li><a href="#">Вопросы и ответы</a></li>
	        <li><a href="#">Доставка и оплата</a></li>
	    a.buy-btn-small.navbar-right-pos href="#"
	    	|Заказать