<div class="comments">
	<div class="container">
		<div class="row">
			<h2 class="text-center">Отзывы наших покупателей</h2>
			<div id="vk_comments"></div>
			<script type="text/javascript">
		        VK.init({apiId: 5764439, onlyWidgets: true});
				VK.Widgets.Comments("vk_comments", {limit: 10, width: "665", attach: false});
			</script>
		</div>
	</div>
</div>
