/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "pages";
$container-large-desktop: 1000px;
@import "bootstrap";
@import "slick";
@import "slick-theme";


.row{
	position: relative;
}
h1, h2, h3, h4{
	font-family: 'Roboto', 'Helvetica', Helvetica, arial, sans-serif;
}
body{
	position: relative;
	padding-top: 0px;
}

.nav-params{
	background-color: rgba(0,0,0,0);
	@extend .basic-gradient;
	font-family: 'Roboto', sans-serif;
	border: 0px;
	ul{
		text-align: center;
		display: block;
		float: none;
		li{
			float: none;
			display: inline-block;
		}
	}

	.container{
		position: relative;
	}

	.navbar-right-pos{
		position: absolute;
		top: 11px;
		right: 15px;
	}
	.navbar-left-pos{
		position: absolute;
		top: 12px;
		left: 15px;
		h3{
			margin-top: 0px;
		}
	}
	.logo{
		color: #fff;

		.color{
			display: none;
		}
	}

	.buy-btn-small{
		color: #fff; 
		padding: 5px 15px;
		font-size: 14px;
		cursor: pointer;
		font-family: 'Roboto', sans-serif;
		border: 1px solid #fff;
	    //margin-top: -2px;
		border-radius: 100px;
		transition: all 0.2s ease-out;
		&:hover{
			text-decoration: none;
			background-color: #fff;
			color: #000;
		}
	}
}

.white-nav{
	background: rgba(255, 255, 255, 0.95);
	li a{
		color: #444 !important;
	}
	box-shadow: 0px 0px 5px rgba(0,0,0, 0.4);
	.logo{
		color: #333;
		.color{
			display: block;
		}
		.white{
			display: none;
		}
	}
	.buy-btn-small{
		color: $first-color; 
		padding: 5px 15px;
		font-size: 14px;
		//margin-top: -2px;
		cursor: pointer;
		font-family: 'Roboto', sans-serif;
		border: 1px solid $first-color;
		border-radius: 100px;
		&:hover{
			text-decoration: none;
			background-color: $first-color;
			color: #fff;
		}
	}
}

.navbar-nav{
	margin: 0px auto;
}

#first-slide{
	width: 100%;
	height: 600px;
	position: relative;
	overflow: hidden;
	text-shadow: 0 0 15px rgba(0,0,0, 0.4);
	video{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
	    z-index: -100;
	    transform: translateX(-50%) translateY(-50%);
	 	background: url(image-url('assets/video.jpg')) no-repeat;
	  	background-size: cover;
	  	transition: 1s opacity;
	}
	.header{
	font-family: "Roboto", sans-serif;
	padding-top: 150px;
	color: #fff;
		h4{
			font-size: 18px;
			line-height: 1.2;
			max-width: 400px;
		}
	}
	.helpful{
		padding-top: 10px;
	}
	.helpful-unit{
		padding-bottom: 10px;
		position: relative;
		color: #fff;
		font-size: 16px;
		line-height: 1.2;
		font-family: Helvetica, arial, sans-serif;
		padding-left: 23px;
		.glyphicon{
			position: absolute;
			left: 0px;
			top: 0px;
		}
	}
}


.slick-carousel{
	overflow: hidden;	
	.slick-img-container{
		padding: 0px 10px;
	}

	img{
		display: block;
		height: 100%;
	}
	.img-wrap{
		display: inline-block;
	}
}


.how-start{
	position: relative;
	padding-top: 55px;
	padding-bottom: 70px; 
	//background-image: radial-gradient(circle farthest-side at center bottom, #009cde, #003087 125%);
	//background-image: radial-gradient(circle farthest-side at right center, #f4f4f4, #eaf2fd 125%);
	background-color: #fff;
	.image-round{	
		border-radius: 100px;		
		box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	}
	.unit-text{
		//color: #fff;
		padding-top: 17px;
		font-size: 16px;
		line-height: 1.3;
		font-family: 'Roboto', 'Helvetica', arial, sans-serif;
	}
	.unit-header{
		//color: #fff;
		padding-bottom: 20px;
		font-family: 'Roboto', 'Helvetica', arial, sans-serif;
	}
	.icon-next{
		position: absolute;
		top: 60px;
		left: 0px;
		font-size: 25px;
		padding: 5px;
		@extend .glyphicon;
		@extend .glyphicon-chevron-right;
		color: #555;
	}
	.icon-next-2{
		@extend .icon-next;
		left: auto;
		right: 0px;
	}
}

.about-plastic{
	padding: 110px 0 80px;
    background: url(/fil.png) no-repeat -100px -70px;    
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    .plastic-wrap{
    	background-color: rgba(255,255,255, 0.85);
    	padding: 30px 30px 40px;	
    }
}


.danger{
	//background-color: #f4f4f4;
	position: relative;
	background-color: #eff3f9;
	//color: #24243b;
	padding: 110px 0px 90px;
	font-family: 'Roboto', 'Helvetica', Helvetica, arial, sans-serif;
	font-size: 15px;
	.grad-backgr{
		background: radial-gradient(ellipse at top right, rgba(30,87,153,0.7) 0%,rgba(125,185,232,0) 80%);
		width: 100%;
		padding-top: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.danger-text{
		font-size: 16px;	
		padding-bottom: 60px;
	}
	.original-pen{
		font-size: 24px;
		text-align: right;
		padding-right: 20px;
		padding-top: 30px;
	}
	.fake-pen{
		font-size: 24px;
		text-align: left;
		padding-left: 50px;
		padding-top: 30px;
		padding-bottom: 15px;
		span{
			position: relative;
			top: 30px;
		}
	}
	.block-params{
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		height: 160px;
		position: relative;
		display: block;
		padding: 20px 20px;
		background-color: #fff;
		color: #333;
		overflow: hidden;
		width: 100%;
		-webkit-transform: skewX(-7deg);
		& > *{
			-webkit-transform: skewX(7deg);
		} 
	}
	.img-wrap{
		display: inline-block;
		position: absolute;
		overflow: hidden;
		height: 100%;
		width: 155px;
		text-align: center;
		vertical-align: center;
		padding: 0px 15px;
		img{
			max-height: 100%;
			max-width: 100%;
		}
	}
	.left-block-comp{
		width: 50%;
		display: inline-block;
		padding-bottom: 30px;
	}

	.right-block-comp{
		position: absolute;
		top: 0px;
		right: 3px;
		width: 50%;
		display: inline-block;
	}
	.img_left{
		top: 0px;
		left: 0px;
		@extend .img-wrap
	}
	.img_right{
		top: 0px;
		right: 0px;
		@extend .img-wrap;
	}
	.good{
		border-top: 10px #30c75f solid;
		@extend .block-params;
		padding-left: 150px;
		padding-right: 20px;
	}
	.bad{
		position: relative;
		border-top: 10px #e95a5a solid;
		top: 20px;
		@extend .block-params;
		padding-right: 150px;
		padding-left: 30px;
	}
	.comparison{
		position: relative;
		padding-bottom: 15px;
	}
}

.property-wrap{
	position: relative;
	.slick-3dpen-carousel{
		background-color: #FFB74D;
		padding-bottom: 50px;
		.slick-img-container{
			height: 460px;
			padding: 0px 4px 0px;
			img{
				height: 100%;
				box-shadow: 1px 0px 2px rgba(0,0,0, 0.1);
			}
		}
	}
	.slick-img-container{
		margin-top: 170px;
	}
	h2{
		padding-bottom: 20px;
	}
	.property{
		display: block;
		width: 100%;
		position: absolute;
		top: 80px
	}
	.property-box{
		display: inline-block;
		max-width: 410px;
		background-color: rgba(255, 255, 255, 1);
	    //background-image: linear-gradient(to bottom, #009cde, #003087);
	    //background-image: radial-gradient(circle farthest-side at right top, #009cde, #134196 155%);
	    //	color: #f4f4f4;
	    font-size: 17px;
	    box-shadow: 0 0 40px 0 rgba(0,0,0,0.2);
		padding: 20px 40px;
		padding-bottom: 35px;
		font-family: 'Roboto', sans-serif;
		//padding-top: 10px;
	}
	p{
		position: relative;
		padding-left: 18px;
		margin-bottom: 8px;
	}
	.glyphicon{
		position: absolute;
		left: 0px;
		padding-top: 3px;
		font-size: 14px;
	}
}


.kits{
	//padding-top: 60px;
	background-color: #e9eaec;
	padding-bottom: 60px;
	transition: all 0.3s ease-out;
	position: relative;
	.first-h{
		margin-bottom: 50px;
	}
	.background{
		background-color: #bbdefb;
		position: absolute;
		width: 100%;
		left: 0px;
		top: 0px;	
		height: 485px;
	}

	.white-wrap{
		margin: 0px -15px;
		height: 400px;
		//background-color: #fff;
		padding: 30px 15px;
		border-radius: 5px;
	}

	.clarif{
		font-size: 14px;
		color: #999;
		padding: 0px 30px;
		padding-bottom: 10px;
		text-align: center;
	}
	h2{
		//padding-bottom: 30px;
		//color: #fff;
		margin-bottom: 0px;
	}
	.plastic-ord{
		padding-bottom: 30px;
	}
	.kit{
		img{
			width: 100%;
			border-bottom: 2px solid #f4f4f4;
		}
		.kit-wrap{
			position: relative;
			//border: 2px solid #ddd;
			border-radius: 1px;
			//overflow: hidden;
			border-color: #fff;
			background-color: #fff;
		    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			font-family: 'Roboto', 'Helvetica', Helvetica, arial;
			margin-bottom: 30px;
		}
		h3{
			margin-bottom: 0px;
		}
		ul{
			padding: 0px;
		}
		.kit-list{
			padding: 0px 9px;
			li{
				list-style-type: none;
				padding: 4px 20px;
			}
		}
		.kit-name{
			display: inline-block;
			width: 100%;
			padding-top: 10px;
		}
		.line{
			position: absolute;
			top: 0px;
			left: 0px;
		}
		.btn-block{
			padding-bottom: 35px;
			padding-top: 10px;	
		}
		.kit-buy-btn{
			background-color: #000;
			color: #fff;
			padding: 14px 50px;
			border-width: 0px;
			border-radius: 50px;
			cursor: pointer;
			font-size: 16px;
			font-family: 'Roboto', 'Helvetica', Helvetica, arial, sans-serif;

			&:hover{
				text-decoration: none;
			}
		}
	}

	.price{
		text-align: center;
		font-family: "Roboto";
		font-weight: lighter;
		font-size: 40px;
		padding-left: 5px;
		padding-bottom: 0px;
			.currency{
				font-weight: lighter;
				font-size: 16px;
			}
	}
	.first{
		.price{
			color:#31a3d2;
		}
		.eco{
			color:#31a3d2;
		}
		.line{
			height: 10px;
			width: 100%;
			background-image: linear-gradient(to right, #3fd4d3, #4582d7);
		}
		.kit-buy-btn{
			background: linear-gradient(to bottom, #3fd4d3, #4582d7);	
			&:hover{
				background: linear-gradient(to bottom, #31a3d2, #31a3d2);;
			}
		}

	}

	.second{
		.price{
			color: #65c163;
		}
		.eco{
			color:#65c163;
		}
		.line{
			height: 10px;
			width: 100%;
			background: linear-gradient(to right, #c3e046, #30c75f);
		}
		.kit-buy-btn{
			background: linear-gradient(to bottom, #c3e046, #30c75f);
			&:hover{
				background: linear-gradient(to bottom, #65c163, #65c163);
			}
		}
	}

	.third{
		.price{
			color: #594eb1;
		}

		.eco{
			color:#594eb1;
		}
		.line{
			height: 10px;
			width: 100%;
			background: linear-gradient(to right, #3d6ccb, #9521e8);
		}
		.kit-buy-btn{
			background: linear-gradient(to bottom, #3d6ccb, #9521e8);
			&:hover{
				background: linear-gradient(to bottom, #594eb1, #594eb1);
			}
		}
	}

	.plastics{
		margin-top: 60px;
		padding-bottom: 60px;
		position: relative;
		h2{
			margin-bottom: 0px;
			padding-bottom: 0px;
		}
		.plastic{
			h4{
				padding-top: 10px;
				font-size: 20px;
			}
			.price{
				margin-bottom: 10px;
			}
			.kit-wrap{
				padding-bottom: 25px;
			}
		}
	}

}
.trust{
	padding-top: 0px;
	padding-bottom: 60px;
	h2{
		padding-bottom: 30px;
		//padding-top: 30px;
	}
	img{
		width: 53%;
		padding-bottom: 15px;
	}
	.center-img{
		margin-top: -5px;
		width: 65%;
		padding-bottom: 0px;
	}
	.trust-text{
		margin: 0px auto;
		max-width: 220px;
	}
}

.security{
	font-family: 'Roboto', 'Helvetica', Helvetica, sans-serif;
	padding-top: 60px;
	padding-bottom: 60px;
	color: #fff;
    background-color: #009cde;
    background-image: radial-gradient(circle farthest-side at center bottom, #009cde, #003087 125%);
	p{
		padding-top: 10px;
		padding-bottom: 30px;
		font-size: 16px;
	}
	img{
		padding-bottom: 10px;
	}
}

.questions{
	background-color: $backgr_color_2;
	padding-bottom: 60px;
	h2{
		padding-top: 60px;
		padding-bottom: 30px;
	}
	.question-wrap{
		padding: 20px 15px;
		margin-bottom: 30px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		background-color: #fff;
	}

}

.sec-generation{
	position: relative;
	background-color: #eff3f9;
	font-family: 'Roboto', "Helvetica", Helvetica, arial, sans-serif;
	overflow: hidden;
	font-size: 16px;
	padding: 60px 0px 60px;
	img{
		width: 100%;
	}
	.grad-backgr{
		background-image: radial-gradient(ellipse at top right, rgba(30,87,153,0.7) 0%,rgba(125,185,232,0) 80%);
		width: 100%;
		padding-top: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.about{
		padding-top: 10px;
		padding-bottom: 30px;
	}
	h3{
		padding-bottom: 5px;
	}
	.blocks{
		display: block;
		width: 100%;
		max-width: 950px;
		margin: 0px auto;
		z-index: 2; 
	}
	ul{
		padding-left: 25px;
		li{
			padding-bottom: 7px;
		}
	}
	.line-border{
		border: 3px #eda2a2 solid;
		border-radius: 3px;
	}
	.white{
		background-color: #fff;
		color: #232629;
		border-radius: 3px;
		border: 5px #78dc98 solid
	}
	.wrap{
		padding: 5px 17px 10px;
	}
	
}

.dandp{
	background-color: #F9F9F9;
	padding: 50px 0px 50px;
	h2{
		padding-bottom: 30px;
	}
	h3{
		margin: 0px;
		margin-top: 21px;
		font-weight: bold;
	}
	.post{
		position: absolute;
		top: 10px;
		right: 20px;
		width: 56px;
		height: 45px;
	}
	.pay{
		position: absolute;
		top: 20px;
		right: 20px;
		width: 50px;
		height: 40px;
	}
	.pay-text{
		padding-bottom: 30px;
	}
	.color-wrap{
		float: left;
		background-color: #fff;
		border: 1px solid #F1F1F1;
		border-radius: 8px;
    	position: relative;
    	padding: 0px 10px;
    	margin-bottom: 30px;
	}
	.wrap{
		padding-top: 25px;
	}
	li{
		font-size: 16px;
		padding-bottom: 7px;
	}
	.b-t{
		font-weight: bold;
		font-size: 18px;
	}
	.l-t{
		font-size: 16px;
	}
	.time{
		font-size: 16px;
		padding-top: 10px;
		padding-bottom: 20px;
		color: #42a1ec;
		.glyphicon{
			font-size: 13.5px;
		}
		.time-text{
			padding-left: 5px;
		}
	}
	.security-lock{
		margin-top: 20px;
		padding-bottom: 18px;
		font-size: 16px;
		color: #42a1ec;
		.glyphicon{
			font-size: 14px;
		}
		.sec-text{
			padding-left: 5px;
		}
	}
	ul{
		padding-left: 20px;
	}
}

.footer{
	background-color: #f0f0f0;
	padding: 60px 0px 40px;
	h4{
		line-height: 1.8;
	}
	h3{
		line-height: 1.3;
	}
	.plug{
		display: none;
	}
	.msg-send{
		.plug{
			display: block;
			background-color: #f0f0f0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			z-index: 2;
		}
	}
}

.last-block{
	padding: 20px 0px 0px;
	color: #f0f0f0;
	background-color: #242424;
	h3{
		margin-top: 0px;
	}
}

.center-line{
	position: absolute;
	left: 50%;
	top: 5%;
	height: 90%;
	border: 1px #dcdcdc solid;
	content: " ";
}

.comments{
	#vk_comments{
		margin: 30px auto;
	}

	background-color: #edeef0;
	padding: 60px 0px 40px;
}



#original{
	background-color: #07b9ff;
	padding-bottom: 30px;
	h2{
		color: #fff;
		margin-top: 60px;
		margin-bottom: 30px;
	}
	.text{
		display: inline-block;
		position: absolute;
		top: 40px;
		left: 0px;
		padding-left: 130px;
		padding-right: 20px;
		width: 100%;
		font-size: 16px;
	}
	.wrap{
		position: relative;
		background-color: #fff;
		border-radius: 5px;
		min-height: 140px;
		padding: 0px 5px;
		margin-bottom: 30px;
	}
	.good{
		border: 3px #91dc5a solid;
	}
	.bad{
		border: 3px #f57445 solid;
	}
	.img-list{
		width: 100px;
		border-radius: 300px;
		position: absolute;
		top: 20px;
		left: 15px;
	}
	.text-head{
		max-width: 600px;
		margin: 0px auto;
		text-align: center;
		padding-top: 40px;
		font-size: 16px;
	}
	.items{
		display: block;
		overflow: hidden;
		padding-top: 30px;
	}
	.item{
		margin-bottom: 30px;
		position: relative;
	}
	.item-icon{
		width: 80px;
		img{
			max-width: 100%;
			margin-left: 5px;
		}
	}
	.item-text{
		position: absolute;
		padding-left: 100px;
		width: 100%;
		top: 20px;
	}
}

#market{
	background-color: #e9eaec;
    padding-top: 60px;
    padding-bottom: 60px;
    #pens-present-carou{
    	border-bottom: 1px solid #e9eaec;
    }
    .market-kit{
		background: #fff;
		border-radius: 2px;
		position: relative;
		margin-bottom: 30px;
    	box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
  		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    	.hover{
    		 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);	
    	}
    }
    .market-kit-link-block{
    	cursor: pointer;
    	&:hover{
    		text-decoration: none;
    	}
    }
    .carousel-indicators{
    	position: absolute;
    	bottom: 0px;
    	right: 20px;
    	width: auto;
    	margin-left: 0px;
    	left: auto;
    	text-align: right;
    	display: inline-block;
    }
    .li-blue{
    	border-color: #00BCD4;
    	background-color: #00BCD4;
    	&.active{
			border: 2px solid #000;
    	}
    }
    .li-pink{
    	border-color: #F06292;
    	background-color: #F06292;
    	&.active{
			border: 2px solid #000;
    	}
    }
    .li-purp{
    	border-color: #a059c4;
    	background-color: #a059c4;
    	&.active{
			border: 2px solid #000;
    	}
    }	
    .li-yellow{
    	border-color: #FFEB3B;
    	background-color: #FFEB3B;
    	&.active{
			border: 2px solid #000;
    	}
    }
	.name{
		font-family: 'Helvetica', Helvetica, arial, sans-serif;
		font-size: 18px;
		color: #000;
		font-weight: bold;
		padding: 15px;
		&:hover{
			color: #ed1c24;
		}
	}
	.price-item{
		padding-left: 15px;
		.not-price{
			margin-left: 5px;
			font-family: 'Helvetica', Helvetica, arial, sans-serif;
			font-size: 14px;
			color: #636466;
			font-weight: bold;
			position: relative;
			display: inline-block;
			&:after{
				content: " ";
				position: absolute;
				width: 110%;
				top: 10px;
				left: -5%;
				border-bottom: 1px solid #636466;
			}
		}
		.price{
			font-family: 'Helvetica', Helvetica, arial, sans-serif;
			font-size: 30px;
			line-height: 20px;
			padding-bottom: 5px;
			color: #000;
			font-weight: bold;
			position: relative;
			.rub{
				font-size: 24px;
			}
		}
		.col-md-6.price-item{
			width: 50% !important;
		}
		.sale{
			margin-top: -2px;
			padding-bottom: 5px;
			.money{
				background-color: #fff200;
				display: inline-block;
				font-weight: bold;
				padding: 1px 3px 1px 4px;
				line-height: 16px;
				border-radius: 3px;
			}
			.eco{
				display: inline-block;
				margin-left: 10px;
				color: #333;
			}
		}
	}
	.description{
		margin-top: -5px;
		padding: 0px 15px;
		font-size: 16px;
	}

	.buy-btn-red{
		position: absolute;
		bottom: 20px;
		right: 15px;
		padding-left: 45px;
		padding-right: 45px;
	}

}

.modal-content{
	background-color: #e9eaec;
	.modal-header{
		background-color: #fff;
	}
	.price-item{
		position: relative;
		padding-bottom: 10px;
		border-bottom: 1px solid #e9eaec;
		.price-label{
			font-size: 16px;
			font-weight: bold;
			padding-top: 45px;
		}
		.price-value{
			position: absolute;
			right: 0px;
			top: 15px;
		}
		.right{
			float: right;
		}
		.old-price{
			margin-right: 5px;
			font-family: 'Helvetica', Helvetica, arial, sans-serif;
			font-size: 16px;
			color: #636466;
			font-weight: bold;
			position: relative;
			display: inline-block;
			&:after{
				content: " ";
				position: absolute;
				width: 110%;
				top: 10px;
				left: -5%;
				border-bottom: 1px solid #636466;
			}
		}
		.new-price{
			font-family: 'Helvetica', Helvetica, arial, sans-serif;
			font-size: 40px;
			line-height: 30px;
			color: #000;
			font-weight: bold;
			position: relative;
		}
	}
	.eco{
		position: relative;
		padding-top: 5px;
		.eco-label{
			font-weight: bold;
			font-size: 16px;
		}
		.eco-value{
			position: absolute;
			top: 5px; 
			right: 0px;
			background-color: #fff200;
			line-height: 16px;
			padding: 2px 2px 2px 2px;
			border-radius: 3px;
			font-weight: bold;
		}
	}
	.btn-wrap{
		padding-top: 15px;
	}
	.backgr{
		padding: 20px;
		margin-bottom: 30px;
		background: #fff;
		border-radius: 2px;
		position: relative;
	    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
  		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		h3{
			margin-top: 0px;
		}
	}
}


#new-year{
	background-image: url("/pattern.png");	
	padding: 60px 0px 30px;
	margin: 30px 0px;
	.present{
		background-color: #fff;
	}
	.NY{
		right: 30px !important;
	}
}


.promo{
	color: #000;
	padding: 90px 15px 0px 15px;
	text-align: center;
}

.promo-text{
	color: #000	;
	padding: 10px 20px 30px 20px;
	font-size: 18px;
	text-align: center;
}

.promo-color{
	display: block;
	min-height: 377px;
	margin-right: -30px;	
	margin-top: -20px;
	background: rgb(242,225,198);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZTFjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iI2YyZTFjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iI2YyZTFjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmM5N2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(242,225,198,1) 0%, rgba(242,225,198,1) 48%, rgba(242,225,198,1) 48%, rgba(239,201,126,1) 100%);
	background: -webkit-linear-gradient(top, rgba(242,225,198,1) 0%,rgba(242,225,198,1) 48%,rgba(242,225,198,1) 48%,rgba(239,201,126,1) 100%);
	background: linear-gradient(to bottom, rgba(242,225,198,1) 0%,rgba(242,225,198,1) 48%,rgba(242,225,198,1) 48%,rgba(239,201,126,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e1c6', endColorstr='#efc97e',GradientType=0 );
}

#scope{
	font-size: 16px;
	background: rgb(242,225,198);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZTFjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iI2YyZTFjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iI2YyZTFjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmM5N2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(242,225,198,1) 0%, rgba(242,225,198,1) 48%, rgba(242,225,198,1) 48%, rgba(239,201,126,1) 100%);
	background: -webkit-linear-gradient(top, rgba(242,225,198,1) 0%,rgba(242,225,198,1) 48%,rgba(242,225,198,1) 48%,rgba(239,201,126,1) 100%);
	background: linear-gradient(to bottom, rgba(242,225,198,1) 0%,rgba(242,225,198,1) 48%,rgba(242,225,198,1) 48%,rgba(239,201,126,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e1c6', endColorstr='#efc97e',GradientType=0 );
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f5efe7;
	.grid{
		margin-top: 120px;
	}
	.grid-item{
		width: 33.3%;
		padding: 15px;
		display: inline-block;

		img{
			width: 100%;
			z-index: 0;
		}
	}
	.sign{
	    z-index: 3;
	}
	.sign-wrap{
		text-align: center;
		background-color: rgba(255,255,255, 0.98);
		padding: 15px 15px;
	}
	.img-wrap{
		box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
		overflow: hidden;
		border-radius: 5px;
		font-size: 16px;
		font-family: 'Helvetica', Helvetica, arial;
	}
}


.you-can{
	color: #fff;
	font-size: 16px;
	background-color: #263238;
	.wrap{
		padding-top: 100px;
		padding-bottom: 90px;
	}

	.buy-btn-red{
		margin-top: 20px;
	}
}

#for-child{
	padding-top: 60px;
	padding-bottom: 60px;
	h2{
		padding-bottom: 30px;
	}
	img{
		margin-bottom: 30px;
		width: 80px;
	}
	.child-text{
		position: absolute;
		top: 15px;
	}
	.text-wrap{
		padding-left: 90px;
		padding-right: 10px;
	}
	.btn-block{
		padding-top: 200px;
	}
}