// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-active-color: #aaa;
$navbar-default-link-hover-color: #aaa;


$first-color: #e00f36;
$first-shadow: 0 0 30px rgba(224,15, 54,1);

$first-color: #2779cd;
$first-color2: #51a9ee;
$first-shadow: 0 0 30px rgba(27,108, 191, 0.8);
$first-shadow-hover: 0 0 10px rgba(27,108, 191, 0.8);
$first-shadow-small: 0 0 10px rgba(27,108, 191, 0.8);
$first-shadow-small-hover: 0 0 5px rgba(27,108, 191, 0.8);
$second-color: #0666c9;

$backgr_color_1: #d0dcff;
$backgr_color_2: #FFB74D;

body{
	background-color: #e9eaec !important;
}

.learn-more{
	font-size: 16px;
	margin-left: 40px;
	color: #3c7dbf;
	text-shadow: 0px 0px 5px rgba(0,0,0, 0.3);
}

.basic-gradient{
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMGExNCIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMzg3MCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, rgba(0,10,20,0.7) 0%, rgba(0,56,112,0) 100%);
	background: -webkit-linear-gradient(top, rgba(0,10,20,0.7) 0%,rgba(0,56,112,0) 100%);
	background: linear-gradient(to bottom, rgba(0,10,20,0.7) 0%,rgba(0,56,112,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000a14', endColorstr='#00003870',GradientType=0 );
	transition: all 0.5s ease-out;
}


.buy-btn{
	font-family: 'Roboto', sans-serif;
	background-color: $first-color;
	color: #fff !important;
	padding: 13px 45px;
	border-radius: 25px;
	box-shadow: $first-shadow; 
	transition: all 0.3s ease-out;
	text-shadow: none;
	&:hover{
		text-decoration: none;
		box-shadow: $first-shadow-hover;
		color: #fff !important;
			background-color: $second-color;
	}
}
.color{
	color: $first-color2;
	//text-shadow: $first-shadow;
}

.duo-block{
	//display: inline-block;
	margin: 0px auto;
	max-width: 280px;
	position: relative; 
}

.success-message{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0px 20px;
	top: 0px;
	left: 0px;
	background-color: #fff;
}

.success-wrap{
	position: relative;
	.success-message{
		display: block;
	}	
}


.btn-buy{
	font-family: 'Roboto';
	font-size: 16px;
    line-height: 42px;
	background-color: #0070c9;
    background: -webkit-linear-gradient(#42a1ec,#0070c9);
    background: linear-gradient(#42a1ec,#0070c9);
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    text-align: center;
    white-space: nowrap;
    &:hover {
	    background-color: #147bcd;
	    background: -webkit-linear-gradient(#51a9ee,#147bcd);
	    background: linear-gradient(#51a9ee,#147bcd);
	    border-color: #1482d0;
	    text-decoration: none;
	    color: #fff;
	}
}
.kit-btn-buy{
	font-family: 'Roboto';
	font-size: 16px;
    line-height: 42px;
	background-color: #0070c9;
    background: -webkit-linear-gradient(#42a1ec,#0070c9);
    background: linear-gradient(#42a1ec,#0070c9);
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 1px;
    text-align: center;
    white-space: nowrap;
    &:hover {
	    background-color: #147bcd;
	    background: -webkit-linear-gradient(#51a9ee,#147bcd);
	    background: linear-gradient(#51a9ee,#147bcd);
	    border-color: #1482d0;
	    text-decoration: none;
	    color: #fff;
	}
}

.kit-btn-buy-green{
	font-family: 'Roboto';
	font-size: 16px;
    line-height: 42px;
	background-color: #059829;
    background: -webkit-linear-gradient(#8cf140, #09a730);
    background: linear-gradient(#8cf140, #09a730);
    border-color: #059829;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 1px;
    text-align: center;
    white-space: nowrap;
    &:hover {
	    background-color: #93fd43;
    	background: -webkit-linear-gradient(#93fd43, #09a730);
    	background: linear-gradient(#93fd43, #09a730);
    	border-color: #059829;
	    text-decoration: none;
	    color: #fff;
	}
}



.plastic-color{
		margin: 24px 10px 15px;
		text-align: center;
		span{
			display: inline-block;
			height: 15px;
			width: 15px;
			border-radius: 40px;
			margin: 0px 5px;
		}
	.pink{
		background-color: #F06292;
	}
	.cyan{
		background-color: #00BCD4;
	}
	.red{
		background-color: #f44336;
	}
	.orange{
		background-color: #FB8C00;
	}
	.lime{
		background-color: #AEEA00;
	}
	.black{
		background-color: #000000;
	}
	.blue{
		background-color: #1976D2;
	}
	.purp{
		background-color: #8E24AA;
	}
	.gray{
		background-color: #9E9E9E;
	}
	.yellow{
		background-color: #FFEB3B;
	}

}


.glyphicon-question-sign{
	color: #b0b0b0;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	margin-right: -30px;
	top: 3px;
	&:hover{
		color: #808080;
		text-decoration: none;	
	}
}

.modal-body{
	overflow: hidden;
}


.pen-image-gallery{
	img{
		max-width: 100%;
	}
}

.pen-image-nav{
	img{
		max-width: 100%;
	}
}

.buy-btn-red{
	font-family: 'Roboto';
	font-size: 16px;
    line-height: 42px;
	background-color: #a70909;
    background: -webkit-linear-gradient(#f14040, #a70909);
    background: linear-gradient(#f14040, #a70909);
    border-color: #a70909;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 1px;
    text-align: center;
    white-space: nowrap;
    &:hover {
	    background-color: #920707;
    	background: -webkit-linear-gradient(#de3d3d, #920707);
    	background: linear-gradient(#de3d3d, #920707);
    	border-color: #920707;
	    text-decoration: none;
	    color: #fff;
	}
}


.all-width{
	width: auto;
	display: block;
}


.hit{
	position: absolute;
	top: -12px;
	left: -12px;
	width: 110px;
}

.hit2{
	position: absolute;
	top: -12px;
	left: 4px;
	width: 110px;
}